@charset "utf-8";

/*===== font =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');


/*===== reset =====*/
* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; max-width: 100%; overflow-x: hidden; }
body { font-size: 15px; color: #333; background: #f1f1f1; max-width: 100%; overflow-x: hidden; }
ul li { float: left; list-style: none; }
a { display: block; text-decoration: none; }
img { display: inline-block; border: 0; outline: 0; }
article { overflow: hidden; }

/*============================== header ==============================*/
.trigger { display: none; }

/*헤더 배경*/
header { position: fixed; z-index: 30; }
.hd-bg { opacity: 0; width: 100vw; height: 80px; overflow: hidden; transition: all 0.3s ease-in-out; box-shadow: 1px 0 10px rgba(0,0,0,0.3);  }
.hd-bg>div { width: 100vw; height: 100vh; background: url(../imgs/bg.png) no-repeat left top; /*background: #183a51;*/ background-size: cover; opacity: 0.97; }
/*헤더 로고*/
header>img { position: absolute; left: 50px; top: 12px; height: 55px; z-index: 40; }

/*== 트리거 닫혔을 때 ==*/
.trigger { display: block; position: absolute; right: 50px; top: 26.5px; width: 40px; height:27px; cursor: pointer; z-index: 20; }
.line { display: block; position: absolute; left: 0; top: 12px; width: 40px; height: 3px; background: #fff; transition: all 0.3s ease-in; }
.line:before, .line:after { content: ''; position: absolute; left: 0; width: 100%; height: 100%; background: #fff; transition: all 0.3s ease-in; }
.line:before { top: -10px; }
.line:after { top: 10px; }

/*== 트리거 열렸을 때 ==*/
/* 트리거 버튼 */
.trigger.on .line { background: rgba(68,68,68,0); }
.trigger.on .line:before { top: 0; transform: rotate(45deg); }
.trigger.on .line:after { top: 0; transform: rotate(-45deg); }


/*메뉴바 배경*/
.hd-bg.on { opacity: 1; }
/* 메뉴 */
ul#menu { position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; background: url(../imgs/bg.png) no-repeat left top; background-size: cover; margin-left: 0; padding-top: 200px; visibility: hidden; }
ul#menu li { float: none; width: 100%; height: 120px; }
ul#menu li.close { display: none; }
ul#menu li a { font-size: 40px; font-weight: 500; font-family: 'Montserrat'; text-align: center; line-height: 120px; color: #fff; }
ul#menu.open { padding-top: 180px; visibility: visible; transition: all 0.2s ease-in; overflow-y: scroll; }
ul#menu li::before { display: none; }

@media screen and (min-width:769px) and (max-width:1350px) {
    .hd-bg { height: 80px; }
    /*헤더 로고*/
    header>img { top: 12.5px; height: 55px; }

    /*== 트리거 닫혔을 때 ==*/
    .trigger { display: block; position: absolute; right: 50px; top: 26.5px; width: 40px; height:27px; cursor: pointer; z-index: 20; }
    .line { display: block; position: absolute; left: 0; top: 12px; width: 40px; height: 3px; background: #fff; transition: all 0.3s ease-in; }
    .line:before, .line:after { content: ''; position: absolute; left: 0; width: 100%; height: 100%; background: #fff; transition: all 0.3s ease-in; }
    .line:before { top: -10px; }
    .line:after { top: 10px; }

    /*== 트리거 열렸을 때 ==*/
    /* 트리거 버튼 */
    .trigger.on .line { background: rgba(68,68,68,0); }
    .trigger.on .line:before { top: 0; transform: rotate(45deg); }
    .trigger.on .line:after { top: 0; transform: rotate(-45deg); }


    /*메뉴바 배경*/
    .hd-bg.on { opacity: 1; }
    /* 메뉴 */
    ul#menu { left: 0; top: 0; width: 100vw; height: 100vh; background: url(../imgs/bg.png) no-repeat left top; background-size: cover; margin-left: 0; padding-top: 200px; visibility: hidden; }
    ul#menu li { float: none; width: 100%; height: 120px; }
    ul#menu li.close { display: none; }
    ul#menu li a { font-size: 40px; font-weight: 500; line-height: 120px; }
    ul#menu.open { padding-top: 180px; visibility: visible; transition: all 0.2s ease-in; overflow-y: scroll; }
    ul#menu li::before { display: none; }
    /* 언어 탭 */
    ul#lang { position: absolute; right: 40px; top: 90px; }
    ul#lang li { width: 50px; height: 15px; }
    ul#lang li:first-child { border-right: 1px solid #fff; }
    ul#lang li a { font-size: 15px; line-height: 15px; }
    ul#lang li:first-child.on { border-right: 1px solid #333; }
    ul#lang li a.on { color: #333; }
}
@media screen and (min-width:481px) and (max-width:768px) {
    .hd-bg { height: 60px; }
    /*헤더 로고*/
    header>img { left: 30px; top: 9px; height: 42px; }

    /*== 트리거 닫혔을 때 ==*/
    .trigger { display: block; position: absolute; right: 30px; top: 16.5px; width: 40px; height:27px; cursor: pointer; z-index: 20; }
    .line { display: block; position: absolute; left: 0; top: 12px; width: 40px; height: 3px; background: #fff; transition: all 0.3s ease-in; }
    .line:before, .line:after { content: ''; position: absolute; left: 0; width: 100%; height: 100%; background: #fff; transition: all 0.3s ease-in; }
    .line:before { top: -10px; }
    .line:after { top: 10px; }

    /*== 트리거 열렸을 때 ==*/
    /* 트리거 버튼 */
    .trigger.on .line { background: rgba(68,68,68,0); }
    .trigger.on .line:before { top: 0; transform: rotate(45deg); }
    .trigger.on .line:after { top: 0; transform: rotate(-45deg); }

    /*메뉴바 배경*/
    .hd-bg.on { opacity: 1; }
    /* 메뉴 */
    ul#menu { left: 0; top: 0; width: 100vw; height: 100vh; background: url(../imgs/bg.png) no-repeat left top; background-size: cover; margin-left: 0; padding-top: 200px; visibility: hidden; }
    ul#menu li { float: none; width: 100%; height: 100px; }
    ul#menu li a { font-size: 34px; font-weight: 500; line-height: 120px; }
    ul#menu.open { padding-top: 180px; visibility: visible; transition: all 0.2s ease-in; overflow-y: scroll; }
    ul#menu li::before { display: none; }
}
@media screen and (max-width:480px) {
    .hd-bg { height: 50px; }
    /*헤더 로고*/
    header>img { left: 20px; top: 9px; height: 32px; }

    /*== 트리거 닫혔을 때 ==*/
    .trigger { display: block; position: absolute; right: 20px; top: 13.5px; width: 30px; height:23px; cursor: pointer; z-index: 20; }
    .line { display: block; position: absolute; left: 0; top: 10px; width: 30px; height: 2px; background: #fff; transition: all 0.3s ease-in; }
    .line:before, .line:after { content: ''; position: absolute; left: 0; width: 100%; height: 100%; background: #fff; transition: all 0.3s ease-in; }
    .line:before { top: -8px; }
    .line:after { top: 8px; }

    /*== 트리거 열렸을 때 ==*/
    /* 트리거 버튼 */
    .trigger.on .line { background: rgba(68,68,68,0); }
    .trigger.on .line:before { top: 0; transform: rotate(45deg); }
    .trigger.on .line:after { top: 0; transform: rotate(-45deg); }

    /*메뉴바 배경*/
    .hd-bg.on { opacity: 1; }
    /* 메뉴 */
    ul#menu { left: 0; top: 0; width: 100vw; height: 100vh; background: url(../imgs/bg.png) no-repeat left top; background-size: cover; margin-left: 0; padding-top: 120px; visibility: hidden; }
    ul#menu li { float: none; width: 100%; height: 70px; }
    ul#menu li a { font-size: 24px; font-weight: 500; line-height: 70px; }
    ul#menu.open { padding-top: 100px; visibility: visible; transition: all 0.2s ease-in; overflow-y: scroll; }
    ul#menu li::before { display: none; }
}


/*===== 상단이동 버튼 =====*/
.upBtn { display: none; position: fixed; right: 30px; bottom: 30px; width: 50px; height: 50px; cursor: pointer; z-index: 10; }
@media screen and (max-width:480px) {
    .upBtn { right: 20px; bottom: 20px; width: 35px; height: 35px; }
}

/*===== 탭 타이틀 =====*/
h1 { padding: 200px 0 60px 0; font: 700 38px 'Montserrat'; text-align: center; }
@media screen and (min-width:769px) and (max-width:1350px) {
    h1 { padding: 200px 0 40px 0; font-size: 33px; }
}
@media screen and (min-width:481px) and (max-width:768px) {
    h1 { padding: 100px 0 40px 0; font-size: 28px; }
}
@media screen and (max-width:480px) {
    h1 { padding: 100px 0 30px 0; font-size: 23px; }
}




/*==================== HOME ====================*/
#home { width: 100vw; height: 100vh; }
.swiper-container { width: 100%; height: 100%; }
.first { background: url(../imgs/slide1.jpg) no-repeat center center; background-size: cover; }
.second { background: url(../imgs/slide2.jpg) no-repeat center center; background-size: cover; }
.third { background: url(../imgs/slide3.jpg) no-repeat center center; background-size: cover; }

/*슬라이드 블릿*/
.swiper-pagination-bullet {
    position: relative; bottom: 20px; width: 12px!important; height: 12px!important; background: transparent!important;
    margin: 0 12px!important; border-radius: 100%!important; border: 1px solid #fff!important; opacity: 1!important;
}
.swiper-pagination-bullet:focus { outline: none!important; }
.swiper-pagination-bullet-active { background: #fff!important; }




/*============================== TECHNOLOGY ==============================*/
#technology { width: 100vw; }
ul#th-grid { position: relative; width: 1260px; left: 50%; margin-left: -630px; }
ul#th-grid li { float: left; position: relative; width: 300px; height: 670px; margin: 10px 60px; }

/* technology 이미지 */
ul#th-grid li>img { width: 300px; height: 420px; margin-bottom: 20px; }

/* technology 텍스트 */
ul#th-grid li .th-txt>h3 { width: 320px; margin-bottom: 10px; font: 500 24px 'Montserrat'; }
ul#th-grid li .th-txt>p {
  width: 320px; height: 6.6em; overflow: hidden;
  line-height: 1.2em; word-wrap: break-word; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;
  font: 14px 'Montserrat'; color: #666;
}

/*PDF 버튼*/
.th-pdf {
    position: absolute; right: 0; bottom: 0; width: 150px; height: 35px; border-radius: 10px;
    font: 15px 'Montserrat'; color: #fff; text-align: center; line-height: 35px;
    background: -webkit-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
    background: -moz-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
    background: -ms-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
    background: -o-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
}
@media screen and (min-width:769px) and (max-width:1350px) {
    ul#th-grid { width: 760px; height: 495px; margin-left: -380px; }
    ul#th-grid li { width: 215px; height: 500px; margin: 10px 19px; }

    /* technology 이미지 */
    ul#th-grid li>img { width: 215px; height: 300px; }

    /* technology 텍스트 */
    ul#th-grid li .th-txt>h3 { width: 215px; font-size: 20px; }
    ul#th-grid li .th-txt>p { width: 215px; height: 5.2em; -webkit-line-clamp: 4; font-size: 12px; }

    /*PDF 버튼*/
    .th-pdf {
        width: 140px; height: 30px; line-height: 30px; font-size: 14px; margin-top: 20px;
    }
}
@media screen and (min-width:481px) and (max-width:768px) {
    ul#th-grid { width: 380px; height: 1545px; margin-left: -190px; }
    ul#th-grid li { width: 200px; height: 500px; margin: 30px 90px; }

    /* technology 이미지 */
    ul#th-grid li>img { width: 200px; height: 300px; }

    /* technology 텍스트 */
    ul#th-grid li .th-txt>h3 { width: 215px; font-size: 20px; }
    ul#th-grid li .th-txt>p { width: 215px; height: 5.2em; -webkit-line-clamp: 4; font-size: 12px; }

    /*PDF 버튼*/
    .th-pdf {
        width: 140px; height: 30px; margin-top: 20px; line-height: 30px; font-size: 14px;
    }
}
@media screen and (max-width:480px) {
    ul#th-grid { width: 280px; height: 1510px; margin-left: -140px; }
    ul#th-grid li { width: 200px; height: 470px; margin: 30px 40px; }

    /* technology 이미지 */
    ul#th-grid li>img { width: 200px; height: 300px; }

    /* technology 텍스트 */
    ul#th-grid li .th-txt>h3 { width: 210px; font-size: 18px; }
    ul#th-grid li .th-txt>p { width: 210px; height: 5.2em; -webkit-line-clamp: 4; font-size: 11px; }

    /*PDF 버튼*/
    .th-pdf {
        width: 120px; height: 25px; margin-top: 20px; line-height: 25px; font-size: 10px; border-radius: 8px;
    }
}




/*============================== ABOUT ==============================*/
#about { width: 100vw; }

/* 연혁 부제목 */
#about>h3 { position: relative; padding: 0; font: 500 22px 'Montserrat'; text-align: center; }
#about>h3:before { content: ''; position: absolute; left: 50%; bottom: 0; width: 206px; height: 10px; margin-left: -103px; background: rgba(189,177,147,0.25); border-radius: 5px; }
@media screen and (min-width:481px) and (max-width:768px) {
    #about>h3 { font-size: 20px; }
    #about>h3:before { width: 190px; margin-left: -95px; }
}
@media screen and (max-width:480px) {
    #about>h3 { font-size: 15px; }
    #about>h3:before { width: 140px; margin-left: -70px; }
}


/* 연혁 */
table { margin: 0 auto; }
.ab-year { position: relative; color: #0057b7; font: 600 35px 'Montserrat'; padding-top: 100px; }
.ab-dot { position: absolute; left: 50%; top: 90px; margin-left: -5px; width: 10px; height: 10px; background: #0057b7; border-radius: 100%; }
.ab-line { position: absolute; left: 50%; width: 1px; height: 230px; background: #aaa; }
.ab-mon { font: 600 22px 'Montserrat'; padding: 5px 15px 5px 30px; color: #000; }
.ab-info { font: 18px 'Noto Sans KR'; color: #666; }

@media screen and (min-width:769px) and (max-width:1350px) {
  .ab-year { font-size: 28px; }
  .ab-dot { width: 7px; height: 7px; margin-left: -3.5px; }
  .ab-line { height: 200px; }
  .ab-mon { font-size: 18px; }
  .ab-info { font-size: 14px; }
}
@media screen and (min-width:481px) and (max-width:768px) {
  .ab-year { font-size: 24px; }
  .ab-dot { width: 7px; height: 7px; margin-left: -3.5px; }
  .ab-mon { font-size: 16px; padding-left: 10px; }
  .ab-info { width: 200px; font-size: 13px; }
}
@media screen and (max-width:480px) {
  .ab-year { font-size: 20px; padding-top: 50px; }
  .ab-dot { top: 45px; width: 5px; height: 5px; margin-left: -3.5px; }
  .ab-line { height: 150px; }
  .ab-mon { font-size: 13px; padding: 5px 5px 5px 0px; }
  .ab-info { width: 160px; font-size: 10px; }
}


/*============================== TEAM ==============================*/
#team { width: 100vw; }
/*팀 배경*/
.tm-bg {
    position: relative; width: 100vw; height: 730px; overflow: hidden;
    background: -webkit-linear-gradient(90deg, #0057b7, #509fdc);
    background: -moz-gradient(linear, left top, right bottom, from(#4366af), to(#e02277));
    background: -ms-gradient(linear, left top, right bottom, from(#4366af), to(#e02277));
    background: -o-gradient(linear, left top, right bottom, from(#4366af), to(#e02277));
}
.tm-shape { position: absolute; left: 50%; top: -5800px; width: 6000px; height: 6000px; margin-left: -3000px; background: #f1f1f1; border-radius: 6000px; }
.tm-grid { position: absolute; left: 50%; top: 20px; width: 1100px; margin-left: -550px; }
.tm-item { float: left; width: 350px; height: 600px; margin: 0 100px 80px 100px; }

/*팀원 사진*/
.mb-pic { width: 350px; height: 350px; border-radius: 400px; box-shadow: 5px 5px 20px rgba(0,0,0,0.3); }
.tm-item:nth-child(1) .mb-pic { background: url(../imgs/ceo.jpg) no-repeat center center; background-size: cover; }
.tm-item:nth-child(2) .mb-pic { background: url(../imgs/cto.jpg) no-repeat center center; background-size: cover; }
.tm-item:nth-child(3) .mb-pic { background: url(../imgs/Staff1.jpg) no-repeat center center; background-size: cover; }
.tm-item:nth-child(4) .mb-pic { background: url(../imgs/Staff2.jpg) no-repeat center center; background-size: cover; }

/*팀원 이름*/
.mb-name {
    position: relative; left: 50%; width: 250px; height: 70px; margin: 10px 0 20px -125px;
    border-radius: 5px; border-bottom: 1px solid rgba(255,255,255,0.8);
    font: 600 26px 'Noto Sans KR'; color: #fff; text-align: center; line-height: 70px; transition: 0.3s;
}
.tm-item:nth-child(1) .mb-name, .tm-item:nth-child(2) .mb-name { width: 200px; margin-left: -100px; }

/*팀원 경력*/
.mb-info {
  position: relative; left: 80px; width: 320px; height: 9.2em;
  line-height: 1.2em; word-wrap: break-word; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden;
  font: 16px 'Noto Sans KR'; color: #fff;
}
.tm-item:nth-child(3) .mb-info, .tm-item:nth-child(4) .mb-info { left: 55px; }

@media screen and (min-width:769px) and (max-width:1100px) {
    /*팀 배경*/
    .tm-bg { height: 600px; }
    .tm-shape { top: -5800px; }

    .tm-grid { width: 720px; margin-left: -360px; }
    .tm-item { width: 300px; height: 550px; margin: 0 30px 60px 30px; }

    /*팀원 사진*/
    .mb-pic { width: 300px; height: 300px; }

    /*팀원 이름*/
    .mb-name { width: 230px; height: 55px; font-size: 24px; line-height: 55px; margin: 10px 0 20px -115px; }
    .tm-item:nth-child(1) .mb-name, .tm-item:nth-child(2) .mb-name { width: 180px; margin-left: -90px; }

    /*팀원 경력*/
    .mb-info { width: 280px; height: 8.8em; left: 60px; font-size: 14px; }
    .tm-item:nth-child(3) .mb-info, .tm-item:nth-child(4) .mb-info { left: 35px; }
}
@media screen and (min-width:481px) and (max-width:768px) {
    /* 팀 배경*/
    .tm-bg { height: 1100px; }
    .tm-shape { top: -5800px; }

    .tm-grid { width: 250px; margin-left: -125px; }
    .tm-item { width: 250px; height: 450px; margin: 0 0 80px 0; }

    /*팀원 사진*/
    .mb-pic { width: 250px; height: 250px; }

    /*팀원 이름*/
    .mb-name { width: 220px; height: 50px; font-size: 23px; line-height: 50px; margin: 10px 0 20px -110px; }
    .tm-item:nth-child(1) .mb-name, .tm-item:nth-child(2) .mb-name { width: 170px; margin-left: -85px; }

    /*팀원 경력*/
    .mb-info { width: 260px; height: 9em; left: 40px; font-size: 13px; }
    .tm-item:nth-child(3) .mb-info, .tm-item:nth-child(4) .mb-info { left: 25px; }
}
@media screen and (max-width:480px) {
    /*팀 배경*/
    .tm-bg { height: 950px; }
    .tm-shape { top: -5900px; }

    .tm-grid { width: 200px; margin-left: -100px; }
    .tm-item { width: 200px; height: 400px; margin: 0 0 60px 0; }

    /*팀원 사진*/
    .mb-pic { width: 200px; height: 200px; }

    /*팀원 이름*/
    .mb-name { width: 180px; height: 45px; font-size: 18px; line-height: 45px; margin: 10px 0 20px -90px; }
    .tm-item:nth-child(1) .mb-name, .tm-item:nth-child(2) .mb-name { width: 150px; margin-left: -75px; }

    /*팀원 경력*/
    .mb-info { width: 200px; height: 9.3em; left: 30px; font-size: 10px; }
    .tm-item:nth-child(3) .mb-info, .tm-item:nth-child(4) .mb-info { left: 15px; }
}



/*============================== MEDIA ==============================*/
#media { width: 100vw; }
ul#md-grid li { position: relative; left: 50%; float: none; width: 850px; height: 300px; margin: 0 0 150px -425px; }
/*미디어 사진*/
ul#md-grid li>img { position: absolute; width: 400px; height: 300px; border-radius: 30px; box-shadow: 5px 5px 15px rgba(0,0,0,0.1); }
ul#md-grid li:nth-child(2n+1)>img { left: 0; }
ul#md-grid li:nth-child(2n)>img  { right: 0; }

/*미디어 텍스트*/
.md-txt { position: absolute; width: 400px; height: 115px;  top: 50%; margin-top: -57px; }
ul#md-grid li:nth-child(2n+1) .md-txt { right: 0; }
ul#md-grid li:nth-child(2n) .md-txt { left: 0; }
/*제목 텍스트*/
.md-title { font: 600 25px 'Noto Sans KR'; margin-bottom: 40px; }
ul#md-grid li:nth-child(2n) .md-title { text-align: right; }
/*본문 텍스트*/
.md-info { font: 16px 'Noto Sans KR'; margin-bottom: 40px; }

/*자세히 보기*/
.more {
    position: absolute; width: 150px; height: 40px;
    background: -webkit-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
    background: -moz-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
    background: -ms-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
    background: -o-gradient(linear, left top, right bottom, from(#0057b7), to(#3c97dc));
    color: #fff; font: 16px 'Noto Sans KR'; text-align: center; line-height: 40px; border-radius: 10px; box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
ul#md-grid li:nth-child(2n+1) .more { left: 0; }
ul#md-grid li:nth-child(2n) .more { right: 0; }

@media screen and (min-width:481px) and (max-width:1024px) {
    /*텍스트가 이미지 아래로 가도록 배치*/
    ul#md-grid li { width: 300px; height: 355px; margin: 0 0 100px -150px; }
    ul#md-grid li:nth-child(2n+1)>img, ul#md-grid li:nth-child(2n)>img { width: 300px; height: 250px; left: 50%; margin-left: -150px; }
    ul#md-grid li:nth-child(2n+1) .md-txt, ul#md-grid li:nth-child(2n) .md-txt { left: 50%; top: 340px; margin-left: -200px; }
    ul#md-grid li:nth-child(2n+1) .md-title, ul#md-grid li:nth-child(2n) .md-title { margin-bottom: 15px; font-size: 20px; text-align: center; }
    ul#md-grid li:nth-child(2n+1) .more, ul#md-grid li:nth-child(2n) .more { left: 50%; width: 60%; height: 30px; line-height: 30px; margin-left: -30%; font-size: 14px; }
}
@media screen and (max-width:480px) {
    /*텍스트가 이미지 아래로 가도록 배치*/
    ul#md-grid li { width: 250px; height: 275px; margin: 0 0 80px -125px; }
    ul#md-grid li:nth-child(2n+1)>img, ul#md-grid li:nth-child(2n)>img { width: 250px; height: 200px; left: 50%; margin-left: -125px; }
    ul#md-grid li:nth-child(2n+1) .md-txt, ul#md-grid li:nth-child(2n) .md-txt { left: 50%; top: 270px; margin-left: -200px; }
    ul#md-grid li:nth-child(2n+1) .md-title, ul#md-grid li:nth-child(2n) .md-title { margin-bottom: 10px; font-size: 16px; text-align: center; }
    ul#md-grid li:nth-child(2n+1) .more, ul#md-grid li:nth-child(2n) .more { left: 50%; width: 50%; height: 30px; line-height: 30px; margin-left: -25%; font-size: 12px; }
}




/*============================== footer ==============================*/
footer { position: relative; left: 0; bottom: 0; width: 100vw; height: 700px; overflow: hidden; }

/*푸터 배경*/
#ft-wrap { position: absolute; width: 100%; height: 100%; background: url(../imgs/bg.png) no-repeat center top; background-size: cover; }
.ft-shape { position: absolute; left: 50%; top: -5700px; width: 6000px; height: 6000px; margin-left: -3000px; background: #f1f1f1; border-radius: 6000px; }
.ft-con { position: absolute; left: 50%; bottom: 13%; width: 900px; height: 170px; margin-left: -450px; }

/*회사 로고*/
.ft-con img { position: absolute; left: 0; top: 30px; width: 230px; }

/*회사 정보*/
.ft-con .ft-info { position: absolute; right: 0; width: 560px; height: 170px; color: #fff; font: 20px 'Montserrat'; line-height: 28px; }
.ft-con .ft-info.kor { font: 20px 'Noto Sans KR'; }

@media screen and (min-width:769px) and (max-width:1024px) {
    footer { height: 700px; }
    /*푸터 배경*/
    .ft-shape { top: -5650px; }
    .ft-con { bottom: 9%; width: 450px; height: 220px; margin-left: -225px; }

    /*회사 로고*/
    .ft-con img { left: 0; top: 0; width: 130px; margin-left: 0; }

    /*회사 정보*/
    .ft-con .ft-info { left: 0; bottom: 0; width: 450px; height: 145px; margin-left: 0; font-size: 16px; line-height: 24px; }
    .ft-con .ft-info.kor { font-size: 16px; }
}
@media screen and (min-width:481px) and (max-width:768px) {
    footer { height: 730px; }

    /*푸터 배경*/
    .ft-shape { top: -5650px; }
    .ft-con { bottom: 10%; width: 330px; height: 230px; margin-left: -165px; }

    /*회사 로고*/
    .ft-con img { left: 0; top: 0; width: 120px; margin-left: 0; }

    /*회사 정보*/
    .ft-con .ft-info { left:0%; bottom: 0; width: 330px; height: 155px; margin-left: 0; font-size: 15px; line-height: 22px; }
    .ft-con .ft-info.kor { font-size: 15px; }
}
@media screen and (max-width:480px) {
    footer { height: 700px; }

    /*푸터 배경*/
    .ft-shape { top: -5600px; }
    .ft-con { bottom: 8%; width: 250px; height: 180px; margin-left: -125px; }

    /*회사 로고*/
    .ft-con img { left: 0; top: 0; width: 80px; margin-left: 0; }

    /*회사 정보*/
    .ft-con .ft-info { left: 0; bottom: 0; width: 250px; height: 125px; margin-left: 0; font-size: 12px; line-height: 18px; }
    .ft-con .ft-info.kor { font-size: 12px; }
}
